pkgbase = cyber_archlinux
	pkgdesc = Meta package to install programs used by Cyber
	pkgver = 1
	pkgrel = 1
	url = https://github.com/Cyberx9901/cyber_archlinux
	arch = any
	license = GPL
	depends = git
	depends = arch-install-scripts
	depends = yay
	depends = sway
	depends = 0ad
	depends = 64gram-desktop-bin
	depends = discord
	depends = distrobox
	depends = dosbox
	depends = firefox
	depends = firejail
	depends = foot
	depends = go
	depends = heroic-games-launcher-git
	depends = i3-wm
	depends = imagemagick
	depends = inotify-tools
	depends = jre8-openjdk
	depends = linux-zen
	depends = linux-zen
	depends = lutris
	depends = lvm2
	depends = mangohud
	depends = minetest-git
	depends = mindustry-bin
	depends = mumble
	depends = ncdu
	depends = nano
	depends = openssh
	depends = pokete-git
	depends = podman
	depends = podman-docker
	depends = proot
	depends = pv
	depends = qemu-common
	depends = qemu-system-x86
	depends = sc-controller
	depends = surf
	depends = tmux
	depends = w3m
	depends = wayvnc
	depends = wf-recorder
	depends = wine
	depends = winetricks-git
	depends = wl-clipboard
	depends = xdotool
	depends = xonotic
	depends = xterm
	depends = xorg-xwayland
	depends = xwaylandvideobridge
	depends = zsh
	depends = zstd
	depends = emacs
	conflicts = networkmanager

pkgname = cyber_archlinux